@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
	--black: #101010;
	--gray: #6B6B6B;
	--light-gray: #F2F2F2;
	--white: #FFFFFF;
	--blue: #02A9F1;
	--red: #FF4304;
	--green: #6CBE27;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif;
	color: var(--black);
}
a{
	text-decoration: none;
	color: var(--black);
}
ul{
	list-style-type: none;
}
img{
	width: 100%;
}
/*Buttons*/
.btn{
	background-color: var(--black);
	color: var(--white);
	display: inline-block;
	padding: 1em 2.5em;
	font-size: 1.2rem;
}
.btn-2{
	text-transform: uppercase;
	color: var(--blue);
	font-weight: 900;
}
.btn-3{
	background-color: var(--white);
	color: var(--black);
	display: inline-block;
	padding: 1em 2.5em;
	font-size: 1.2rem;
}
/*Header*/
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 2em auto;
}
.left-header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-header img{
	width: 150px;
}
.left-header ul{
	display: flex;
}
.left-header li{
	margin: 0 1.2em;
}
.left-header li a{
	padding: .2em;
}
.left-header li a:hover{
	border-bottom: 2px solid var(--black);
}
.right-header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.right-header i{
	margin: 0 1.2em;
	padding: .5em;
}
.right-header i:hover:nth-child(1){
	cursor: pointer;
	color: var(--blue);
}
.right-header i:hover:nth-child(2){
	cursor: pointer;
	color: var(--green);
}
/*Grid Container*/
.grid-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 80%;
	margin: 2em auto;
	grid-gap: 2em;
}
/*Section-1*/
.section-1{
	position: relative;
	background-image: url('../IMG/surface-deals.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 1 / span 4;
}
.sec-1-content{
	margin: 10em;
	text-align: center;
	color: var(--white);
}
.sec-1-content h1{
	font-size: 2rem;
}
.sec-1-content p{
	margin: 1.5em 0;
	font-size: 1.3rem;
}
.sec-1-content a:hover{
	background-color: #191919;
}
.sec-1-content i{
	margin-left: .5em;
}
/*Features*/
.feat-container:hover{
	cursor: pointer;
	box-shadow: 0px 0px 5px 5px #ddd;
}
.features h1{
	font-size: 1.3rem;
	margin: 1em 0;
}
.features p{
	margin: 1em 0;
}
.features a:hover i{
	margin-left: .5em;
}
/*Section-3*/
.section-3{
	position: relative;
	background-image: url('../IMG/xbox-games.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	grid-column: 1 / span 4;
}
.sec-3-content{
	width: 30%;
	margin: 5em 5em;
	color: var(--black);
}
.sec-3-content h1{
	font-size: 2rem;
}
.sec-3-content p{
	margin: 2em 0;
	font-size: 1.3rem;
}
.sec-3-content i{
	margin-left: .5em;
}
.sec-3-content a:hover{
	background-color: #191919;
}
/*Section-5*/
.section-5{
	margin: 2em auto;
	position: relative;
	background-image: url('../IMG/forest.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	grid-column: 1 / span 4;
}
.sec-5-content{
	color: var(--white);
	margin: 10em 3em;
	width: 60%;
}
.sec-5-content h1{
	font-size: 2rem;
}
.sec-5-content p{
	margin: 1.5em 0;
	font-size: 1.3rem;
}
.sec-5-content i{
	margin-left: .5em;
}
.sec-5-content a:hover{
	background-color: #DDDDDD;
}
/*Social*/
.social{
	margin: 2em auto;
	display: flex;
	align-items: center;
	color: var(--black);
	grid-column: 1 / span 4;
}
.social i{
	margin: 0 1em;
	font-size: 1.5rem;
}
/*footer*/
footer{
	width: 100%;
	background-color: var(--light-gray);
	overflow: hidden;
}
.foot-container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	width: 80%;
	margin: 2em auto;
}
.foot-container h2{
	font-size: 1.1rem;
	margin: 1em 0;
}
.foot-container p{
	line-height: 2em;
}
/*Privacy-stuff*/
.privacy-stuff{
	width: 80%;
	margin: 2em auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.privacy-stuff .english{
	display: flex;
	align-items: center;
}
.privacy-stuff .english i{
	font-size: 3em;
}
.privacy-stuff .english p{
	margin-left: 1em;
}
.privacy-stuff ul{
	display: flex;
}
.privacy-stuff ul li{
	margin: 0 .5em;
}







@media(max-width: 960px){
	.left-header ul{
		display: none;
	}
	.grid-container{
		grid-template-columns: repeat(2, 1fr);
	}
	.section-1{
		grid-column: 1 / span 4;
	}
	.sec-1-content{
		text-align: center;
	}
	.sec-1-content i{
		display: none;
	}
	.btn{
		padding: .5em 2.5em;
	}
	.section-3{
		grid-column: 1 / span 4;
	}
	.sec-3-content{
		width: 100%;
		text-align: center;
	}
	.sec-3-content i{
		display: none;
	}
	.sec-5-content{
		width: 100%;
		text-align: center;
	}
	.foot-container{
		grid-template-columns: repeat(3, 1fr);
	}
	.privacy-stuff{
		flex-direction: column;
		gap: 2em;
		justify-content: center;
	}
	.privacy-stuff ul{
		flex-wrap: wrap;
	}
	.feat-container{
		grid-column: 1 / span 4;
	}
	.privacy-stuff ul{
		flex-wrap: wrap;
		justify-content: center;
	}
}
/*
@media(max-width: 400px){
	.left-header ul{
		display: none;
	}
	.grid-container{
		grid-template-columns: 1fr;
		flex-wrap: wrap;
	}
	.sec-1-content i{
		display: none;
	}
	.btn{
		padding: .5em 2.5em;
	}
	.foot-container{
		grid-template-columns: 1fr;
	}
	.privacy-stuff{
		flex-direction: column;
		gap: 2em;
		justify-content: center;
	}
	.privacy-stuff ul{
		flex-wrap: wrap;
		justify-content: center;
	}
	
}*/